.heroBanner.heroBanner-aboutUs {
    .heroBanner-image {
        background-image: url('...');
    }
}

//////////////////////////
//Avoid
li {
    list-style: none;
    &:before {
        background-image: url('...');
        ...
    }
}

//Recommended
main,
header,
footer {
    li {
        list-style: none;
        &:before {
            background-image: url('...');
            ...
        }
    }
}

.heroBanner.heroBanner-aboutUs {
    .heroBanner-image {
        background-image: url('...');
    }
}

///////////////////////////////////
//Avoid
li {
    list-style: none;
    &:before {
        background-image: url('...');
        ...
    }
}

//Recommended
main,
header,
footer {
    li {
        list-style: none;
        &:before {
            background-image: url('...');
            ...
        }
    }
}